.contact{
    float: right;
    margin: 25px;
    text-align: center;
}


.navbar{
    border-bottom-style: solid;
    border-bottom-width: 10px;
    border-color: #4aaaa5;
}

#messagebox{
    width: 600px;
    height:100px;
   
}

#namebox{
    width: 600px;
    margin-bottom: 10px;
}

#emailbox{
    width: 600px;
    margin-bottom: 10px;
}

.row1{
    
}

.text_block{
    width: 200px;
    position: relative;
    background-color: #4aaaa5;
    padding-top:10px;
    padding-bottom:10px;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    

}

footer {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 15px;
    border-top-style: solid;
    border-top-width: 10px;
    border-color: #4aaaa5;
    padding-top: 30px;
    padding-bottom: 30px;
    clear: both;
    text-align: center;
    width: 100%;
    /* Sticky footer */
}

